.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}
.cart-summary-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Aligns to the right */
  margin-top: 32px;
  margin-bottom: 32px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .cart-summary-container {
    padding-right: 0;
  }
}

.order-total-text {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.order-total-value {
  font-size: 24px;
  font-weight: 700;
  color: #0b69ff;
}

.total-items {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 24px;
}

.checkout-button {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 8px rgba(11, 105, 255, 0.2);
}

.checkout-button:hover {
  background-color: #0054d1;
}
